<!DOCTYPE html>
<html lang="en">
<head>
    <title>EEB REST API</title>
</head>
<body>
    <h1>REST</h1>
    <ul>
        <li><a href="/api/v1/stats">global db stats</a></li>
        <li><a href="/api/v1/by_hyp">list by observation<a></a></li>
        <li><a href="/api/v1/by_reviewing_service">list by reviewing service<a></a></li>
        <li><a href="/api/v1/automagic">automagic selection<a></a></li>
        <li><a href="/api/v1/doi/10.1101/2020.06.02.130047">find by doi</a></li>
        <li><a href="/api/v2/review_process/10.1101/2020.06.02.130047">review process</a></li>
        <li><a href="/api/v1/search/sars">full text search</a></li>
        <li><a href="/api/v1/collection/covid19">COVID-19</a></li>
        <li><a href="/api/v1/collection/refereed-preprints">Refereed Preprints</a></li>
    </ul>
</body>
</html>