<!DOCTYPE html>
<html lang="en">
<head>
    <title>It works!</title>
</head>
<body>
    <h1>REST</h1>
    <ul>
        <li><a href="/api/v1/stats">global db stats</a></li>
        <li><a href="/api/v1/by_molecule">list by molecule</a></li>
        <li><a href="/api/v1/by_method">list by experimental method<a></li>
        <li><a href="/api/v1/by_hyp">list by observation<a></a></li>
        <li><a href="/api/v1/doi/10.1101/2020.04.22.055327">find by doi</a></li>
        <li><a href="/api/v1/search?query=sars">full text search</a></li>
        <li><a href="/api/v1/summary/81871">panel summary</a></li>
        <li><a href="/api/v1/smartfigure/28739">/api/v1/smartfigure/82649</a></li>
    </ul>
</body>
</html>