<!DOCTYPE html>
<html lang="en">
<head>
    <title>It works!</title>
</head>
<body>
    <h1>REST</h1>
    <ul>
        <li><a href="/api/v1/by_molecule">list by molecule</a></li>
        <li><a href="/api/v1/by_method">list by experimental method<a></li>
        <li><a href="/api/v1/by_hyp">list by observation<a></a></li>
        <li><a href="/api/v1/doi/10.1101/2020.02.07.939389">find by doi</a></li>
        <li><a href="/api/v1/search?query=sars">full text search</a></li>
    </ul>
</body>
</html>